{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static "pages/about_style.css" %}">
{% endblock %}

{% block content %}
    <div class="services">
      <h1>Our Services</h1>
      <div class="cen">
        <div class="service">
          <i class="fas fa-camera-retro"></i>
          <h2> Gallery </h2>
          <p>
            Upload your photos and create your own gallery full of memories.
          </p>
        </div>
        <div class="service">
          <i class="fab fa-angellist"></i>
          <h2> Service Name </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="service">
          <i class="fas fa-apple-alt"></i>
          <h2> Service Name </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="service">
          <i class="fas fa-archway"></i>
          <h2> Service Name </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="service">
          <i class="fas fa-angry"></i>
          <h2> Service Name </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="service">
          <i class="fab fa-android"></i>
          <h2> Service Name </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
{% endblock %}
