<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static "pages/base_style.css" %}?{% now "U" %}">
    {% block style %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="inner-width">
        <i class="menu-toggle-btn fas fa-bars"></i>
        <nav class="navigation-menu">
          <a href="{% url 'main' %}"><i class="fas fa-home home"></i> Home</a>
          <a href="{% url 'addphoto' %}"><i class="fas fa-image share"></i> Upload</a>
          <a href="{% url 'about' %}"><i class="fas fa-align-left about"></i> About</a>
          <a href="{% url 'team' %}"><i class="fas fa-users team"></i> Team</a>
          <a href="{% url 'settings' %}"><i class="fas fa-cog settings"></i> Settings</a>
          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt logout"></i> Logout</a>
        </nav>
      </div>
    </header>
    {% block content %}
    {% endblock %}
    {% load static %}
    <script src="{% static "pages/base.js" %}?{% now "U" %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
