{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static "pages/main_style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
{% endblock %}

{% block content %}
    {% if photos.exists %}
        <div class="gallery owl-carousel">
            {% for photo in photos.all %}
            <div class="photo">
                {% load static %}
                <img src="{% static "pages/1.jpg" %}" alt="">
                <div class="description">
                    <div class="category">{{photo.category}}</div>
                    <h2 class="title">{{photo.title}}</h2>
                    <div class="date">{{photo.date}}</div>
                    <a href="#" class="btn">Read More</a>
                    <a href="{% url 'editphoto' photo.id %}" class="btn">Edit</a>
                    <a href="{% url 'deletephoto' photo.id %}" class="btn">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="nophoto">
            <h4>There are no photos</h4>
            <a href="{% url 'addphoto' %}">Share your photo</a>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" charset="utf-8"></script>
    {% load static %}
    <script src="{% static "pages/main.js" %}"></script>
{% endblock %}
