{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static "pages/main_style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
{% endblock %}

{% block content %}
    <div class="gallery owl-carousel">
        <div class="photo">
            {% load static %}
            <img src="{% static "pages/1.jpg" %}" alt="">
            <div class="description">
                <div class="category">Food</div>
                <h2 class="title">Lorem ipsum dolor sit amet</h2>
                <div class="date">Jan 13 2020</div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

        <div class="photo">
            {% load static %}
            <img src="{% static "pages/2.jpg" %}" alt="">
            <div class="description">
                <div class="category">Cars</div>
                <h2 class="title">Lorem ipsum dolor sit amet</h2>
                <div class="date">Jan 14 2020</div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

        <div class="photo">
            {% load static %}
            <img src="{% static "pages/3.jpg" %}" alt="">
            <div class="description">
                <div class="category">Codes</div>
                <h2 class="title">Lorem ipsum dolor sit amet</h2>
                <div class="date">Jan 15 2020</div>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" charset="utf-8"></script>
    {% load static %}
    <script src="{% static "pages/main.js" %}"></script>
{% endblock %}
