{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static "pages/withdrawal_style.css" %}?{% now "U" %}">
{% endblock %}

{% block content %}
    <div class="box">
        <form method="POST" action="{% url 'withdrawal' %}">
            {% csrf_token %}
            <div class="wrap">
                <h3>Withdrawal</h3>
                <div class="field"><input name="pw1" type="password" placeholder="Enter your password"></div>
                <div class="btn"><input class="withdraw" type="button" value="Withdraw"></div>
            </div>
            <div class="ask">
                <h3>Withdraw?</h3>
                <div class="btn"><input type="submit" value="Yes"></div>
                <div class="btn"><input type="button" value="No" class="no"></div>
            </div>
        </form>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "pages/withdrawal.js" %}?{% now "U" %}"></script>
{% endblock %}
